figures/BIC.png filter=lfs diff=lfs merge=lfs -text
figures/loss_table.png filter=lfs diff=lfs merge=lfs -text
figures/Test[[:space:]]Loss.png filter=lfs diff=lfs merge=lfs -text
figures/Time[[:space:]](mins).png filter=lfs diff=lfs merge=lfs -text
figures/Train[[:space:]]Loss.png filter=lfs diff=lfs merge=lfs -text
KAN/wavelets/animations/Morlet.gif filter=lfs diff=lfs merge=lfs -text
KAN/wavelets/animations/Shannon.gif filter=lfs diff=lfs merge=lfs -text
figures/Transformer_visco_prediction.gif filter=lfs diff=lfs merge=lfs -text
figures/true_train_visco_data.gif filter=lfs diff=lfs merge=lfs -text
figures/RNO_visco_prediction.gif filter=lfs diff=lfs merge=lfs -text
figures/true_test_visco_data.gif filter=lfs diff=lfs merge=lfs -text
KAN/wavelets/animations/DerivativeOfGaussian.gif filter=lfs diff=lfs merge=lfs -text
KAN/wavelets/animations/MexicanHat.gif filter=lfs diff=lfs merge=lfs -text
KAN/wavelets/animations/Meyer.gif filter=lfs diff=lfs merge=lfs -text
figures/KAN_RNO_visco_prediction.gif filter=lfs diff=lfs merge=lfs -text
figures/KAN_Transformer_visco_prediction.gif filter=lfs diff=lfs merge=lfs -text
Vanilla_RNO/logs/trained_models/model_4.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_Transformer/logs/trained_models/model_1.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_Transformer/logs/trained_models/model_2.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_Transformer/logs/trained_models/model_4.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_RNO/logs/trained_models/model_2.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_RNO/logs/trained_models/model_3.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_RNO/logs/trained_models/model_3.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_Transformer/logs/trained_models/model_3.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_Transformer/logs/trained_models/model_2.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_Transformer/logs/trained_models/model_5.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_RNO/logs/trained_models/model_1.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_RNO/logs/trained_models/model_5.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_Transformer/logs/trained_models/model_5.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_RNO/logs/trained_models/model_4.bson filter=lfs diff=lfs merge=lfs -text
Vanilla_RNO/logs/trained_models/model_2.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_RNO/logs/trained_models/model_1.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_RNO/logs/trained_models/model_5.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_Transformer/logs/trained_models/model_1.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_Transformer/logs/trained_models/model_3.bson filter=lfs diff=lfs merge=lfs -text
wavKAN_Transformer/logs/trained_models/model_4.bson filter=lfs diff=lfs merge=lfs -text
